#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

repo --name="RELEASE-updates" --baseurl=http://ftp.riken.jp/Linux/scientific/7x/x86_64/os/../updates/security/
repo --name="RELEASE-fastbugs" --baseurl=http://ftp.riken.jp/Linux/scientific/7x/x86_64/os/../updates/fastbugs/
# Use network installation
url --url="http://ftp.riken.jp/Linux/scientific/7x/x86_64/os"
# Root password
rootpw --iscrypted $6$ABCDEFGHIJKLMNOP$dzkJ6oLMD4Hx.6Bj2TgXqFxGpnkIWj13PSWd.orLeTYnsEBCNuyR4Hh.U2xflwcU8JcF/yyF6FV5jdnwiXbzP.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=daq --password=$6$ABCDEFGHIJKLMNOP$dzkJ6oLMD4Hx.6Bj2TgXqFxGpnkIWj13PSWd.orLeTYnsEBCNuyR4Hh.U2xflwcU8JcF/yyF6FV5jdnwiXbzP. --iscrypted --uid=4001 --gecos="DAQ User" --gid=4001
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
@debugging
chrony
kexec-tools

%end

%addon org_scientificlinux_contexts
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
